<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com" />
        <property name="port" value="25" />
        <property name="username" value="13790432378@163.com" />
        <property name="password" value="chenbin911029" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <bean id="eMail2" class="com.spring.util.mail.EMailService2" >
        <property name="mailSender" ref="mailSender"/>
        <property name="simpleMailMessage" ref="customeMailMessage" />
    </bean>

    <bean id="eMail3" class="com.spring.util.mail.EMailService3" >
        <property name="mailSender" ref="mailSender"/>
        <property name="simpleMailMessage" ref="customeMailMessage" />
    </bean>

    <bean id="customeMailMessage"
          class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="13790432378@163.com" />
        <property name="to" value="1724002777@qq.com" />
        <property name="subject" value="Testing Subject" />
        <property name="text">
            <value>
                <![CDATA[
                    Dear %s,
                    Mail Content: %s
                ]]>
            </value>
        </property>
    </bean>

</beans>